# Ignore Vector Database
rag/chroma_db/

# Ignore Python Environments
.venv/
__pycache__/

# Ignore raw PDFs (Optional, but recommended if they are 150MB+)
rag/contentData/

# Ignore MacOS system files
.DS_Store
**/.DS_Store
ui/rag/chroma_db/chroma.sqlite3
